/*blue #4484CE;
aluminim: #D9D9D9;
yellow #F9CF00;
Tangerine: #F19F4D;*/

#link-folders {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

body {
  /*font-family: 'Noto Sans', sans-serif;*/
  font-family: 'Ruda', sans-serif;
}

.logo {
  /*font-family: 'Stalinist One', cursive;*/
  font-family: 'Nosifer', cursive;
  font-size: 9vh;
}

#folders {
  width: 35vw;
  background-color: #D9D9D9;
  align-items: center;

}

button {
  border-radius: 5px;
  margin-left: 5px;
  border: none;
  font-size: 16px;
  border: 1px solid black;
  background-color: #F9CF00;
}

button:hover {
  cursor: pointer;
}

th {
  font-weight: bolder;
  font-size: 18px;
  border-bottom: 1px solid;
}

#create-folder-btn:hover {
  color: #f29d5c;
}

button:focus {
  outline: none;
}

#links {
  width: 63vw;
  position: fixed;
  right: 0;
}

#links, #folders {
  display: flex;
  flex-direction: column;
  margin-top: 18vh;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 18vh;
  background-color: #4484CE;
  position: fixed;
  z-index: 10;
}

.input {
  height: 25px;
  font-size: 18px;
  outline: none;
  border: none;
  font-weight: lighter;
  padding: 2.5px;
  border-radius: 3px;
  border: 1px solid;
}

#new-folder {
  margin-top: 10px;
}

.duplicate-error {
  height: 18px;
}

.header form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.header h1 {
  margin: 10px auto;
}

#folders-header {
  align-self: center;
  font-size: 46px;
  padding: 5px;
  margin: 10px auto;
}

.new-folder-form {
  margin: 10px auto;
}

.folder {
  background-color: rgba(241,159,77, .5);
  list-style: none;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-shadow: 10px 10px 10px -6px rgba(148,139,148,0.6);
  transition-duration: .5s;
}

.folder:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .5s;
}

#url-input-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px auto;
}

#url-input-form input {
  width: 50%;
  border: 1px solid;
}

#shorten-url-btn {
}

#shorten-url-btn:hover {
  color: white;
}

.active-folder {
  background-color: #F19F4D;
}

.url-table-row {
  padding: 5px;
}

#urls-table {
  width: 95%;
  align-self: center;
}

#urls-table td {
  text-align: center;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.short-url, .date {
  width: 10vw;
}

.long-url {
  width: 13vw;
}

.visit-count {
  width: 3vw;
}
td {
  border: 1px solid;
}
