/*body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}*/

#link-folders {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.logo {
  font-size: 6vh;
}

#folders {
  width: 35vw;
  border-right: 2px solid black;
}

#links {
  width: 65vw;
}

#links, #folders {
  height: 78vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 22vh;
  background-color: magenta;
}

.duplicate-error {
  height: 18px;
}

.header form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header h1 {
  margin: 10px auto;
}

#folders-header {
  align-self: center;
  font-size: 30px;
  padding: 5px;
}

.new-folder-form {
  margin: 5px auto;
}

.folder {
  list-style: none;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}

.folder:hover {
  cursor: pointer;
}

#url-input-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

#url-input-form input {
  width: 60%;
}

.active-folder {
  background-color: magenta;
}

.url-table-row {
  padding: 5px;
}

#urls-table {
  width: 95%;
  align-self: center;
}

#urls-table td {
  text-align: center;
  padding: 5px;
}
